<!-- ======= Services Section ======= -->
<section id="services">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-12">
          <h3 class="section-title">CMMS Benefits</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Evantage Computerized Maintenance Management Systems is a combinations of several maintenance processes in one system.</p>
        </div>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-coin"></i></div>
          <h4 class="service-title"><a href="">Control Costs</a></h4>
          <p class="service-description">Stop overspending on inventory, cut waste, increase uptime, and track spending more accurately.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-graph-down-arrow"></i></div>
          <h4 class="service-title"><a href="">Reduce downtime</a></h4>
          <p class="service-description">See asset history, erase backlog, schedule PMs with ease, and simplify repairs to eliminate downtime at its root.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-graph-up-arrow"></i></div>
          <h4 class="service-title"><a href="">Increase Efficiency</a></h4>
          <p class="service-description">Automate work, standardize PMs, and improve access to resources so you can work faster and increase production capacity effectively.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-cloud"></i></div>
          <h4 class="service-title"><a href="">Centralize Information</a></h4>
          <p class="service-description">Accurately record and track all maintenance work in a central location to access informations from anywhere, any time.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-building-up"></i></div>
          <h4 class="service-title"><a href="">Improve Health and Safety</a></h4>
          <p class="service-description">With Evantage CMMS, you can outline safety requirements for every job, simplify audits, and make safety procedures more accessible.</p>
        </div>
        <div class="col-lg-4 col-md-6 service-item">
          <div class="service-icon"><i class="bi bi-filetype-pdf"></i></div>
          <h4 class="service-title"><a href="">Reporting and Analysis</a></h4>
          <p class="service-description">See one-click reports and dashboard with real-time KPIs, create benchmarks, and make data-driven decisions.</p>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->