<!-- ======= Contact Section ======= -->
<section id="contact">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Us</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Tell us more and we'll find the best solution for you.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="bgcol">
          <a href="https://maps.app.goo.gl/KLTm86gTBYrQzKC3A" target="_blank" class="info">
            <i class="bi bi-geo-alt"></i>
            <p>E-8-04, The Gamuda Biz Suite,<br>
              12, Jalan Anggerik Vanilla 31/99,<br> 
            40460 Shah Alam, Selangor</p>
          </a>
        </div>
        </div>
        <div class="col-sm-4">
          <div class="bgcol">
          <a href="mailto:sales@evantage.com.my" class="info">
          <i class="bi bi-rocket-takeoff"></i>
          <p><span>Sales Enquiry</span><br>sales@evantage.com.my<br>+6012-652 9477</p>
          </a>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="bgcol">
          <a href="mailto:support@evantage.com.my" class="info">
          <i class="bi bi-headset"></i>
          <p><span>Solutions Support</span><br>support@evantage.com.my<br>+603-5888 8890</p>
          </a>
        </div>
        </div>
      </div>
      <div class="row" style="display: flex; align-items: stretch;">
        <div class="col-sm-6" style="display: flex; flex-direction: column;">
          <div class="bgcol" style="flex-grow: 1;">
            <div class="form" style="padding: 20px;">
              <form class="contact-form">
                <div class="form-group">
                  <input type="text" class="form-control" id="nama" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" id="email" placeholder="Your Email" required>
                </div>
                <!-- <div class="form-group mt-3">
                  <input type="text" class="form-control" id="subject" placeholder="Subject" required>
                </div> -->
                <div class="form-group mt-3">
                  <input type="text" class="form-control" id="company" placeholder="Company" required>
                </div>
                <div class="form-group mt-3">
                  <input type="tel" class="form-control" id="contactno" placeholder="Contact Number" pattern="\d+" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" rows="5" id="Message" placeholder="Message" required></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6" style="display: flex; flex-direction: column;">
          <div class="bgcol" style="flex-grow: 1; height: 100%;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15937.397001447403!2d101.534255!3d3.000319!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb3e846b1865f%3A0x1225ca03bf979ec7!2sEvantage%20Solutions%20Sdn%20Bhd!5e0!3m2!1sen!2smy!4v1718772846824!5m2!1sen!2smy" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
      
    </div>
  </section><!-- End Contact Section -->