<div id="counter" class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <h1 class="num" data-val="70"></h1><span>%</span>
      </div>
      <p><strong>Increased Team Productivity</strong></p>
    </div>
    <div class="col" style="background: linear-gradient( rgba(115, 175, 249, 0.426) 0%, rgba(0, 213, 255, 0) 50%);">
      <div class="header">
        <h1 class="num" data-val="35"></h1><span>%</span>
      </div>
      <p><strong>Reduce Asset Downtime</strong></p>
    </div>
    <div class="col">
      <div class="header">
        <h1 class="num" data-val="15"></h1><span>%</span>
      </div>
      <p><strong>Reduce Labor Costs</strong></p>
    </div>
  </div>
</div>