<!-- ======= Footer ======= 
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright" style="text-align:center; color: white; font-size:14px; font-family: sans-serif;">
          Copyright © 2025 Evantage Solutions Sdn Bhd. All Rights Reserved
          <div>
            <a href="Privacy-Policy" style="color: white; font-size:10px; font-family: sans-serif;">Privacy Policy</a> • 
            <a href="Terms-of-service" style="color: white; font-size:10px; font-family: sans-serif;">Terms of Service</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </footer>
  -- End Footer -->

  <!-- Required meta tags -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

  <!-- <link rel="stylesheet" href="fonts/icomoon/style.css"> -->

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

  <footer class="footer-48201">
    <div class="container">
      <div class="row">
        <div class="col-md-4 pr-md-5">
          <a href="/" class="footer-site-logo d-block mb-4">Evantage Solutions</a>
          <p>Empowering businesses with AI-Driven CMMS solutions that elevate performance and transform maintenance operations.</p>
        </div>
        <div class="col-md">
          <ul class="list-unstyled nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/#Product">Products</a></li>
            <li><a href="/#Feature">Features</a></li>
            <li><a href="/#Industries">Industries</a></li>
            <li><a href="evantage-aboutus">About Us</a></li>
          </ul>
        </div>
        <div class="col-md">
          <ul class="list-unstyled nav-links">
            <li><a href="evantage-cmms-webcore">Web Core</a></li>
            <li><a href="evantage-cmms-mobile-app">Mobile App</a></li>
            <li><a href="evantage-cmms-webwork">Web Work</a></li>
            <li><a href="feature-work-management">Work Management</a></li>
            <li><a href="feature-asset-management">Asset Management</a></li>
          </ul>
        </div>
        <div class="col-md">
          <ul class="list-unstyled nav-links">
            <li><a href="Privacy-Policy">Privacy Policy</a></li>
            <li><a href="Terms-of-service">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-md text-md-center">
          <!-- <ul class="social list-unstyled">
            <li><a href="#"><span class="icon-instagram"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-pinterest"></span></a></li>
            <li><a href="#"><span class="icon-dribbble"></span></a></li>
          </ul> -->
          <p class=""><a href="evantage-contactus#contact" class="btn btn-tertiary">Contact Us</a></p>
        </div>
      </div> 

      <div class="row ">
        <div class="col-12 text-center">
          <div class="copyright mt-3 pt-3">
            <p><small>&copy; Copyright © 2025 Evantage Solutions Sdn Bhd. All Rights Reserved.</small></p>
          </div>
        </div>
      </div> 
    </div>
    
  </footer>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <div id="preloader"></div>
  <div id="btt">
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <a href="https://wa.me/60126529477?text=I'm%20interested%20in%20CMMS" class="whatsapp d-flex align-items-center justify-content-center" target="_blank">
      <i class="fa fa-whatsapp"></i>
    </a>
  </div>
  

  <!-- Vendor JS Files -->
  <script src="/views/assets/vendor/aos/aos.js"></script>
  <script src="/views/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/views/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/views/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/views/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/views/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/views/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/views/assets/js/main.js"></script>
  <script src="/views/assets/js/slider.js"></script>

  <!-- Send Mail JS File -->  
  <script src="/views/pages/App.js"></script>

  <!-- <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script> -->