
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ERYT320ZR7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ERYT320ZR7');
  </script>

  <div class="container d-flex align-items-center justify-content-between">

    <a href="/" class="logo mr-auto"><img src="/views/assets/img/Evantage-Logo/evantage-Logo.png" alt=""></a>
    <!-- Uncomment below if you prefer to use a text logo -->
    <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown"><a href="#products"><span>Product</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="evantage-cmms-webcore">CMMS Web Core<i class="material-symbols-outlined">laptop_windows</i></a></li>
            <li><a href="evantage-cmms-mobile-app">CMMS Mobile App<i class="material-symbols-outlined">smartphone</i></a></li>
            <li><a href="evantage-cmms-webwork">CMMS Web Work<i class="material-symbols-outlined">devices</i></a></li>
          </ul>
        </li>

        <!-- Feature Menu with Mega Menu Structure -->
        <li class="dropdown"><a href="#feature"><span>Features</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
                <li><a href="feature-asset-management">Asset Management<i class="material-symbols-outlined">home_work</i></a></li>
                <li><a href="feature-work-management">Work Management<i class="material-symbols-outlined">construction</i></a></li>
                <li><a href="feature-preventive-maintenance">Preventive Maintenance<i class="material-symbols-outlined">Engineering</i></a></li>
                <li><a href="feature-sparepart-management">Spare Parts Management<i class="material-symbols-outlined">service_toolbox</i></a></li>
                <li><a href="feature-procurement-management">Procurement Management<i class="material-symbols-outlined">request_quote</i></a></li>
                <li><a href="feature-ai-driven">AI-Driven CMMS<i class="material-symbols-outlined">stars_2</i></a></li>
                <li><a href="feature-QRcode-management">QR Code Management<i class="material-symbols-outlined">qr_code_scanner</i></a></li>
                <li><a href="feature-data-analytic">Data Analytic<i class="material-symbols-outlined">query_stats</i></a></li>
                <li><a href="feature-custom-dashboard">Customizable Dashboard<i class="material-symbols-outlined">dashboard_customize</i></a></li>
                <li><a href="feature-photo-evidence">Photo Evidence<i class="material-symbols-outlined">photo_library</i></a></li>
                <li><a href="feature-email-notification">Email Notification<i class="material-symbols-outlined">mark_email_read</i></a></li>
                
          </ul>
        </li>

        <!-- <li class="dropdown mega-menu">
          <a href="#feature"><span>Features</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
          <div class="mega-menu-content">
            <div class="mega-menu-column">
              <h4>CMMS Web Core</h4>
                <li><a href="feature-work-management">Work Management<i class="material-symbols-outlined">construction</i></a></li>
                <li><a href="feature-preventive-maintenance">Preventive Maintenance<i class="material-symbols-outlined">Engineering</i></a></li>
                <li><a href="feature-asset-management">Asset Management<i class="material-symbols-outlined">home_work</i></a></li>
                <li><a href="feature-data-analytic">Data Analytic<i class="material-symbols-outlined">query_stats</i></a></li>
                <li><a href="feature-custom-dashboard">Customizable Dashboard<i class="material-symbols-outlined">dashboard_customize</i></a></li>
            </div>
            <hr class="rounded">
            <div class="mega-menu-column">
              <h4>CMMS Mobile App</h4>
                <li><a href="feature-QRcode-management">QR Code Management<i class="material-symbols-outlined">qr_code_scanner</i></a></li>
            </div>
            <hr class="rounded">
            <div class="mega-menu-column">
              <h4>CMMS Web Work</h4>
                <li><a href="feature-photo-evidence">Photo Evidence<i class="material-symbols-outlined">photo_library</i></a></li>
                <li><a href="feature-email-notification">Email Notification<i class="material-symbols-outlined">mark_email_read</i></a></li>
            </div>
          </div>
        </ul>
        </li> -->
        


        <li class="dropdown"><a href="#products"><span>Industries</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="cmms-facilitymanagement">Facility Management<i class="material-symbols-outlined">home_work</i></a></li>
            <li><a href="cmms-healthcare">Healthcare<i class="material-symbols-outlined">monitor_heart</i></a></li>
            <li><a href="cmms-manufacturing">Manufacturing<i class="material-symbols-outlined">precision_manufacturing</i></a></li>
            <li><a href="cmms-foodbeverage">Food & Beverage<i class="material-symbols-outlined">fastfood</i></a></li>
            <li><a href="cmms-energyutility">Energy & Utilities<i class="material-symbols-outlined">flash_on</i></a></li>
            <li><a href="cmms-fleetmanagement">Fleet Management<i class="material-symbols-outlined">commute</i></a></li>
            <li><a href="cmms-watertreatment">Water Treatment<i class="material-symbols-outlined">water_drop</i></a></li>
            <li><a href="cmms-portharbour">Port & Harbors<i class="material-symbols-outlined">directions_boat</i></a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="evantage-aboutus">About Us</a></li>
        <li><a class="btncontactus" href="evantage-contactus#contact">Contact Us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->