<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CMMS Malaysia | Computerized Maintenance Management System | EAM | Evantage Solutions Malaysia</title>
  <meta content="Computerized Maintenance Management System" name="description">
  <meta name="contact" content="sales@evantage.com.my" />
  <meta name="copyright" content="Evantage Solutions Sdn Bhd" />
  <meta name="description" content="Boost efficiency and cut maintenance costs with Evantage’s AI-powered CMMS. Experience smart, intuitive software designed to elevate asset performance and transform your operations." />
  <!-- <meta name="description" content="Evantage Computerized Maintenance Management System (CMMS) Or Enterprise Asset Management (EAM) is a rich in features, smart, and simple to use that is proven to streamline the maintenance process, it's dedicated to save the Cost, Time & increase Lifetime of Assets. The software solutions is written by sets of professional in Malaysia." /> -->
  <meta name="keywords" content="CMMS, CMMS Malaysia, CMMS System Malaysia, CMMS Software Malaysia, Computerized Maintenance Management System, EAM Malaysia,  EAM, Asset Maintenance Management Management, Evantage Solutions, CFMS, CFMS Malaysia" />
  <meta name="google-site-verification" content="y0jw9Rs2alpRtjjRzaqFaApktlY229R01UfajAKJKM4" />

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="CMMS Malaysia | Computerized Maintenance Management System | EAM | Evantage Solutions Malaysia">
  <!-- <meta property="og:image" content="CMMS WEBWORK | CMMS WEBCORE | CMMS MOBILE APP"> -->
  <meta property="og:url" content="www.evantage.com.my">
  <meta property="og:site_name" content="Evantage Solutions Sdn Bhd">
  <meta property="og:description" content="Computerized Maintenance Management System">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="CMMS WEBWORK | CMMS WEBCORE | CMMS MOBILE APP">
  <meta name="twitter:site" content="Evantage Solutions Sdn Bhd">
  <meta name="twitter:title" content="CMMS Malaysia | Computerized Maintenance Management System | EAM | Evantage Solutions Malaysia">
  <meta name="twitter:description" content="Computerized Maintenance Management System">
  <!-- <meta name="twitter:image" content="CMMS WEBWORK | CMMS WEBCORE | CMMS MOBILE APP"> -->

  <!-- Favicons -->
  
  <link href="/views/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Favicons -->
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" type="image/png" sizes="48x48" href="/views/assets/img/EvantageLogo48.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/views/assets/img/apple-touch-icon.png">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  
  <!-- Vendor CSS Files -->
  <link href="/views/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="views/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/views/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/views/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/views/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- Template Main CSS File -->
  <link href="/views/assets/css/style.css" rel="stylesheet">
  
  <!-- =======================================================
  * Template Name: Imperial
  * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
  * Customized For: evantage.com.my
  * Customized By: Izzat Rahman
  * Date Customized: December 22, 2025
  * Based On: Bootstrap v5.3.3
  * Original Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

 
</head>