<%- include('../partials/Script'); %>

<body>
  
  <%- include('../partials/NavBar'); %>

    <!-- ======= Solution Section ======= -->
    <section id="solution">
      <div class="container hero-content">
          <div class="hero-text">
            <h3>CMMS For Ports and Harbors</h3>
            <h1>Enhance Port Efficiency with Automation</h1>
            <p>Evantage CMMS tracking of Maintenance & Repair (M&R) activity in port to ensure minimum downtime to assets.</p>
            <a class="btnlearnmore" href="#Feature">Learn More</a>
          </div>
          <div class="bgimg">
              <img src="/views/assets/img/SolutionPage/cmms-Seaport-01.png" alt="Work Order Image">
          </div>
      </div>
    </section>
    <!-- ======= End Section Solution ======= -->

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container">
      <h1>CMMS Benefits for Ports and Harbors</h1>
      <p>CMMS empowers ports and harbors to operate more efficiently by improving equipment reliability, reducing downtime, and ensuring smooth, safe, and uninterrupted operations.</p>
    <div class="benefit-list">
      <div class="benefit-item">
        <div class="border">
          <span class="material-symbols-outlined icon-benefit">engineering</span>
          <h2>Enhanced Equipment Reliability</h2>
          <p>CMMS tracks maintenance histories and performance data for port equipment such as cranes, forklifts, and loading systems—reducing breakdowns, extending asset life, and boosting overall equipment reliability.</p>
        </div>
      </div>

      <div class="benefit-item">
        <div class="border">
          <span class="material-symbols-outlined icon-benefit">deployed_code_update</span>
          <h2>Increased Asset Lifespan</h2>
          <p>Regular maintenance and timely repairs prolong the life of critical and high-value harbor assets, helping ports reduce replacement costs and maximize long-term investment value.</p>
        </div>
      </div>

      <div class="benefit-item">
        <div class="border">
          <span class="material-symbols-outlined icon-benefit">inventory_2</span>
          <h2>Improved Inventory and Spare Parts Management</h2>
          <p>Real-time tracking of spare parts ensures essential components such as bearings, pumps, and hydraulic parts are always available—reducing downtime, preventing stockouts, and streamlining procurement.</p>
        </div>
      </div>

      <div class="benefit-item">
        <div class="border">
          <span class="material-symbols-outlined icon-benefit">insights</span>
          <h2>Enhanced Data and Reporting Capabilities</h2>
          <p>CMMS provides real-time analytics on asset performance, work orders, and maintenance costs—giving management actionable insights for forecasting, budgeting, and strategic planning.</p>
        </div>
      </div>

      <div class="benefit-item">
        <div class="border">
          <span class="material-symbols-outlined icon-benefit">local_shipping</span>
          <h2>Increased Operational Efficiency</h2>
          <p>Centralized work order management and automated scheduling improve communication and task prioritization—streamlining workflows and ensuring maintenance teams stay focused on critical port operations.</p>
        </div>
      </div>

      <div class="benefit-item">
        <div class="border">
          <span class="material-symbols-outlined icon-benefit">trending_up</span>
          <h2>Scalability for Growth</h2>
          <p>As ports expand with new equipment and infrastructure, CMMS systems scale effortlessly—supporting increased asset volumes, maintenance demands, and reporting needs for long-term operational growth.</p>
        </div>
      </div>

    </div>


  <div class="container">
    <div class="industry-cmms">
        <div class="industry-text" data-aos="fade-right">
            <h1>Reliable Port Equipment</h1>
            <p>Keep cranes, forklifts, and loading systems operational with preventive maintenance, minimizing downtime and ensuring smooth cargo handling.</p>
        </div>
        <div class="industry-img" data-aos="fade-left">
            <img src="/views/assets/img/FeaturePage/Preventive Maintenance/Digital Checklist.webp" Custom Dashboard/Real-Time Data and Alerts.webp"" alt="Port Equipment">
        </div>
    </div>

    <div class="industry-cmms">
        <div class="industry-img" data-aos="fade-right">
            <img src="/views/assets/img/FeaturePage/Spare Parts/CMMS-Spare-Parts-Reconciliation.webp" alt="Inventory">
        </div>
        <div class="industry-text" data-aos="fade-left">
            <h1>Optimize Inventory & Work Orders</h1>
            <p>Track spare parts and streamline work orders to reduce downtime, improve maintenance efficiency, and support smooth port operations.</p>
        </div>
    </div>


    <!-- <div class="industry-cmms">
        <div class="industry-text" data-aos="fade-right">
            <h1>Eliminate Paperwork Orders</h1>
            <p>Effortlessly create, manage, and streamline your work orders and requests, all while keeping your records organized in one central location. Automatically analyze your work orders with Evantage's work order insights report.</p>
        </div>
        <div class="industry-img" data-aos="fade-left">
            <img src="/views/assets/img/ProductPage/Work Order w phone.png" alt="Work Order Image">
        </div>
    </div>
    <div class="industry-cmms">
      <div class="industry-img" data-aos="fade-right">
          <img src="/views/assets/img/ProductPage/PreventiveMaintenance.png" alt="Asset Scan Image">
      </div>
      <div class="industry-text" data-aos="fade-left"> 
          <h1>Stop Wasting Time on Maintenance Guesswork</h1>
          <p>Take control of your equipment's health with Evantage's Preventive Maintenance Module. Schedule, track, and automate maintenance tasks to keep everything running smoothly. With just a few clicks, you can view upcoming maintenance schedules, track completed tasks, and ensure nothing slips through the cracks. Stay ahead of potential issues and reduce unexpected downtime by proactively managing your maintenance efforts— all in one place.</p>
      </div>
  </div>
  <div class="industry-cmms">
    <div class="industry-text" data-aos="fade-right">
        <h1>Unlock Data-Driven Insights</h1>
        <p>Effortlessly track and analyze your key performance indicators (KPIs) with Evantage's powerful Analytics and KPI Reporting. Gain real-time insights into maintenance efficiency, asset performance, and team productivity—all in one dashboard. With automated reporting, you can quickly identify trends, pinpoint areas for improvement, and make informed decisions to drive better outcomes. Empower your team with the data they need to optimize operations and improve performance.</p>
    </div>
    <div class="industry-img" data-aos="fade-left">
        <img src="/views/assets/img/ProductPage/Analyst.png" alt="CMMS Image">
    </div>
  </div>
  <div class="industry-cmms">
    <div class="industry-img" data-aos="fade-right">
        <img src="/views/assets/img/ProductPage/Asset.png" alt="Asset Scan Image">
    </div>
    <div class="industry-text" data-aos="fade-left">
        <h1>Maximize Asset Performance</h1>
        <p>Effortlessly track, manage, and optimize your assets with Evantage's Asset Management Module. Gain full visibility into asset lifecycles, maintenance histories, and real-time performance. With centralized data at your fingertips, you can make smarter decisions, reduce downtime, and extend the lifespan of your assets. Keep everything running efficiently, all in one place.</p>
    </div>
    </div> -->
  </div>
  </section>
  <!-- End About Section -->

  <%- include('../partials/Footer'); %>
</body>

</html>