<%- include('../partials/Script'); %>
<body>
  <%- include('../partials/NavBar'); %>
  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text" data-aos="fade-right">
          <h3>CMMS Web Core</h3>
          <h1>Centralize Maintenance Information & Operation</h1>
          <p>Evantage CMMS consolidates all maintenance data in one platform to improve accessibility and usability across the organization.</p>
          <a class="btnlearnmore" href="#benefit">Learn More</a>
        </div>
        <div class="bgimg" data-aos="fade-left">
            <img src="/views/assets/img/Homepage/CMMSWebCore.png" alt="Evantage CMMS Web Core">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->


  

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/ProductPage/Web Core/WebCore-02.webp" alt="Evantage CMMS Web Core">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Centralize Hub for Maintenance Management</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Multi-Site Coordination</h4>
                        <p>Simplifies the management of maintenance across various locations, allowing for standardized processes and consistent reporting</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Data-Driven Decision Making</h4>
                        <p>Leverages real-time analytics to inform maintenance strategies, optimize asset performance, and reduce costs.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Improved Efficiency</h4>
                        <p>Streamlines maintenance operations, reducing response times and enhancing overall productivity across the organization.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>User Empowerment</h4>
                      <p>The intuitive design encourages engagement from all employees, making it easier for everyone to contribute to maintenance management.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->

  <!-- Services-->
  <!-- <section id="productfeature">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>Evantage CMMS Web Core Feature</h1>
      </div>

      <div class="row">
        <div class="col">
          <div class="border">
            <i class="material-symbols-outlined">info</i>
            <h3>Centralized Information</h3>
            <p>Consolidates all maintenance data into one platform, making it easily accessible and user-friendly for all employees.</p>
          </div>
        </div>
        <div class="col"> 
          <div class="border">
            <i class="material-symbols-outlined">move</i>
            <h3>Multi-Location</h3>
            <p>Facilitates management of maintenance activities across multiple sites, ensuring consistent oversight and coordination.</p>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <i class="material-symbols-outlined">search_insights</i>
            <h3>Asset Utilization</h3>
            <p>Provides insights and data-driven recommendations to maximize the use of assets, improving operational efficiency.</p>
          </div>
        </div>
        <div class="col">
          <div class="border">
            <i class="material-symbols-outlined">update</i>
            <h3>Real-Time Insights</h3>
            <p>Features dashboards and analytics that deliver immediate visibility into key performance metrics for informed decision-making.</p>
          </div>
        </div>
        <div class="col"> 
          <div class="border">
            <i class="material-symbols-outlined">integration_instructions</i>
            <h3>Ecosystem Approach</h3>
            <p>Integrates maintenance, reliability, and operational practices to create a cohesive and streamlined workflow.</p>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <i class="material-symbols-outlined">how_to_reg</i>
            <h3>User-Friendly Interface</h3>
            <p>Designed for ease of use, enabling employees of all technical skill levels to navigate and utilize the software effectively.</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Services-->

  <!--About Section-->
<section id="about">
  <div class="container">
    <div class="industry-cmms">
        <div class="industry-text" data-aos="fade-right">
            <h1>Centralized Maintenance Control</h1>
            <p>Easily manage your assets, schedules, work orders, and inventory from one unified platform. Streamline all maintenance activities while ensuring every action is tracked, recorded, and accessible for better visibility and decision-making.</p>
        </div>
        <div class="industry-img" data-aos="fade-left">
            <img src="/views/assets/img/ProductPage/Web Core/WebCore-03.webp" alt="Evantage CMMS Web Core">
        </div>
    </div>
    <div class="industry-cmms">
      <div class="industry-img" data-aos="fade-right">
          <img src="/views/assets/img/ProductPage/Web Core/WebCore-04.webp" alt="Evantage CMMS Web Core">
      </div>
      <div class="industry-text" data-aos="fade-left"> 
          <h1>Data-Driven Maintenance Planning</h1>
          <p>Gain valuable insights from real-time reports and dashboards that highlight trends, performance, and maintenance gaps. Make smarter, faster decisions with Evantage’s analytics tools that transform raw data into actionable recommendations.</p>
      </div>
  </div>
  <div class="industry-cmms">
    <div class="industry-text" data-aos="fade-right">
        <h1>Complete Operational Transparency</h1>
        <p>Track technician workloads, upcoming PM tasks, asset downtime, and maintenance costs with full clarity. Reduce errors, improve compliance, and keep everyone aligned through a clean, centralized view of your entire operation.</p>
    </div>
    <div class="industry-img" data-aos="fade-left">
        <img src="/views/assets/img/ProductPage/Web Core/WebCore-05.webp" alt="Evantage CMMS Web Core">
    </div>
  </div>

  </div>
  </section>  
<!--End About Section-->

  <%- include('../partials/Footer'); %>
</body>

</html>