<%- include('../partials/Script'); %>

<body>
  
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
          <h3>About Us</h3>
          <h1>Evantage Solutions</h1>
          <p>Evantage Solutions Sdn Bhd (Evantage) gives clients the power to improve capital asset management in ways that increase reliability, enhance predictive maintenance, ensure regulatory compliance, reduce energy usage and support sustainability initiatives</p>
        </div>
      <div class="bgimg">
          <img src="/views/assets/img/EvantageTeam/evantageteam.webp" alt="evantageteam" loading="lazy">
      </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <%- include('../partials/Clients'); %>

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/banner/klcc.webp" alt="klcc background" loading="lazy">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Empowering Businesses with CMMS Solutions</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Evantage Solution Sdn Bhd</h4>
                        <p>Is a Malaysia Software Development Company forms by group of management & consultants who work on the International market and abroad for many years.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                      <h4 style="margin:0">CMMS & ERP Solution Company</h4>
                      <p>After years of working in the industry, we decided to create a dynamic solutions company that is always ready to find solutions specialty in Computerized Maintenance Management System (CMMS) to its customer.</p>
                  </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                      <h4 style="margin:0">Why Evantage?</h4>
                      <p>Evantage gives clients the power to improve capital asset management in ways that increase reliability, enhance predictive maintenance, ensure regulatory compliance, reduce energy usage and support sustainability initiatives.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->

  
<style>
  #service .service-dashboard{
    padding:5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    height: 700px;
    cursor: pointer;
    img{
      width: 100%;
      transition: transform .2s;
    }
    h1{
      margin-top:10%;
    }

    #service .service-dashboard img:hover{
      
        width:110%;
      
    }
  }
</style>

     <!-- Services-->
     <section id="indexServices">
      <div class="container" data-aos="fade-down">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Our Services</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Select the right Evantage solutions to optimize your operations and maintenance.</p>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <div class="border">
              <i class="material-symbols-outlined">lightbulb</i>
              <h3>Consultancy</h3>
              <p>The expertise and guidance provided by an Evantage can significantly enhance the effectiveness of your asset management practices.</p>
            </div>
          </div>
          <div class="col"> 
            <div class="border">
              <i class="material-symbols-outlined">manufacturing</i>
              <h3>Software Development</h3>
              <p>Build Custom CMMS Software to meet requirements across multiple use cases and locations to the way you manage maintenance.</p>
            </div>  
          </div>
          <div class="col">
            <div class="border">
              <i class="material-symbols-outlined">integration_instructions</i>
              <h3>Integration</h3>
              <p>Integrate Evantage CMMS with SCADA, ERP, PLC or sensor to improve your maintenance ecosystem to streamline operations and maintenance processes.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services-->

  


  

  <%- include('../partials/Footer'); %>
</body>

</html>