<%- include('../partials/Script'); %>

<body>
  
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
          <h3>Customizable Dashboard</h3>
          <h1>Get Insights at a Glance</h1>
          <p>Personalize your dashboard to display key metrics, track performance, and monitor trends with Evantage's customizable dashboard feature.</p>
          <a class="btnlearnmore" href="#benefit">Learn More</a>
        </div>
        <div class="bgimg">
            <img src="/views/assets/img/Banner/Custom Dashboard.webp" alt="CMMS Dashboard">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/FeaturePage/Custom Dashboard/Real Time Data.webp" alt="CMMS Dashboard Real-Time">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Get Real-Time Data at a Glance</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Improved Efficiency</h4>
                        <p>Customizable dashboard helps users save time and avoid the need to navigate through multiple screens.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Enhanced Decision-Making</h4>
                        <p>Custom dashboards provide a clear and concise overview of KPIs, work orders, asset status, and inventory levels.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Tailored for Different Roles</h4>
                        <p>Each user sees only the information that’s relevant to their responsibilities, leading to a more focused and efficient workflow.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Increased Accountability</h4>
                      <p>The ability to track real-time progress of  maintenance tasks ensures that teams stay on track and that performance can be monitored. </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->

  <!-- Services-->
  <section id="side2side">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>Customizable Dashboard<br>In Evantage CMMS</h1>
        <div class="button">
          <button id="slideLeft" type="button" class="previous round">&#8249;</button>
          <button id="slideRight" type="button" class="next round">&#8250;</button>
        </div>
      </div>

      <div class="row" id="rowside2side">
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Custom Dashboard/Role-Based Customization.webp" alt="Role-Based Customization">
              <div class="text">
                <h1>1.</h1>
                <h3>Role-Based Customization</h3>
                <p>Dashboards can be tailored to different roles within the organization. For instance, maintenance managers may see an overview of the entire system’s performance, including downtime reports, and budget, while field technicians may see only work orders assigned to them, along with real-time notifications.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col"> 
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Custom Dashboard/Real-Time Data and Alerts.webp" alt="Real-Time Data and Alerts">
              <div class="text">
                <h1>2.</h1>
                <h3>Real-Time Data and Alerts</h3>
                <p>Dashboards in CMMS systems like Evantage display real-time data, making it easier to monitor asset performance, work order progress, and inventory levels. Users can receive real-time alerts and notifications directly on their dashboard to stay on top of critical issues.</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Custom Dashboard/Data Visualization.webp" alt="Data Visualization">
              <div class="text">
                <h1>3.</h1>
                <h3>Data Visualization (Charts, Graphs, Tables)</h3>
                <p>Dashboards often include options to display data in various visual formats, such as bar charts, line graphs, pie charts, or tables. This makes it easier for users to interpret and analyze key maintenance and asset management metrics.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Custom Dashboard/Filters and Search Options.webp" alt="Filters and Search">
              <div class="text">
                <h1>4.</h1>
                <h3>Filters and Search Options</h3>
                <p>Users can filter data based on different criteria, such as asset types, work order statuses, locations, or time frames. This makes it easier to focus on specific aspects of maintenance management.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services-->

  <%- include('../partials/Footer'); %>
</body>

</html>