<%- include('../partials/Script'); %>

<body>
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
          <h3>QR Code Management</h3>
          <h1>Check History Status Anytime</h1>
          <p>Easily track and manage asset maintenance by scanning QR codes for instant access to work orders and history.</p>
          <a class="btnlearnmore" href="#benefit">Learn More</a>
        </div>
        <div class="bgimg">
            <img src="/views/assets/img/Banner/QR Code Management.webp" alt="CMMS QR Code Management">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/FeaturePage/QR Code Management/QR Code Details.webp"  alt="CMMS QR CODE">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Asset Details On Your Fingertips</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Speed and Efficiency</h4>
                        <p>QR codes enable users to quickly access and update asset and inventory data with minimal effort.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Accuracy</h4>
                        <p>Reduces manual errors, ensuring that maintenance tasks, asset histories, and inventory counts are always accurate.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Ease of Use</h4>
                        <p>Scanning QR codes is an intuitive and easy way for field technicians and inventory managers to interact with the system.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Mobile Accessibility</h4>
                      <p>QR codes allow users to access CMMS data directly from mobile devices in the field.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->

  <!-- Services-->
  <section id="side2side">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>QR Codes<br>In Evantage CMMS</h1>
        <div class="button">
          <button id="slideLeft" type="button" class="previous round">&#8249;</button>
          <button id="slideRight" type="button" class="next round">&#8250;</button>
        </div>
      </div>

      <div class="row" id="rowside2side">
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/QR Code Management/QR Code For Asset Identification.webp" alt="QR For Asset Tracking">
              <div class="text">
                <h1>1.</h1>
                <h3>QR Code for Asset Identification</h3>
                <p>Each asset can be assigned a unique QR code that links directly to the asset’s detailed record in the CMMS. By scanning the QR code, users can instantly view the asset’s full maintenance history, current status, specifications, and any relevant documents.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col"> 
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/QR Code Management/QR Code For Inventory.webp" alt="QR For Inventory">
              <div class="text">
                <h1>2.</h1>
                <h3>QR Code for Inventory Parts Management</h3>
                <p>QR codes can be used to track inventory parts. Each part or item in the inventory can be assigned a unique QR code that links to detailed information about that part, including stock levels, specifications, and usage history.</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/QR Code Management/QR Code Work Order History.webp" alt="CMMS QR Work Order History">
              <div class="text">
                <h1>3.</h1>
                <h3>Scanning for Full Maintenance & Repair History</h3>
                <p>Scanning the QR code of an asset gives users quick access to the asset’s full maintenance and repair history, including past work orders, service records, maintenance schedules, and repair logs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services-->

  <%- include('../partials/Footer'); %>
</body>

</html>