<%- include('../partials/Script'); %>

<body>
  
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
            <h3>Asset Management</h3>
            <h1>Maximize Asset Capability & Lifespan</h1>
            <p>Efficiently track, manage, and optimize your assets with Evantage's CMMS asset management feature.</p>
            <a class="btnlearnmore" href="#benefit">Learn More</a>
        </div>
        <div class="bgimg">
            <img src="/views/assets/img/Banner/Asset Management.webp" alt="Evantage Asset Management">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/FeaturePage/Asset Management/Asset Listing.webp" alt="Asset Management">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Benefits of Asset Management in CMMS:</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Improved Asset Lifespan</h4>
                        <p>By maintaining and tracking assets properly, organizations can extend the life of equipment.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Reduced Downtime</h4>
                        <p>CMMS helps ensure that assets are regularly maintained, reducing the likelihood of unexpected breakdowns.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Better Budget Management</h4>
                        <p>CMMS helps forecast maintenance expenses, optimize spending, and prevent unnecessary costs, leading to more effective budgeting.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Increased Efficiency and Productivity</h4>
                      <p>Minimizing asset failure reduces the impact on operations, contributing to operational efficiency.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->

  <!-- Services-->
  <section id="side2side">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>Asset Management<br>In Evantage CMMS</h1>
        <div class="button">
          <button id="slideLeft" type="button" class="previous round">&#8249;</button>
          <button id="slideRight" type="button" class="next round">&#8250;</button>
        </div>
      </div>

      <div class="row" id="rowside2side">
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Asset Management/Asset Tracking and Identification.webp" alt="Asset Tracking">
              <div class="text">
                <h1>1.</h1>
                <h3>Asset Tracking and Identification</h3>
                <p>Evantage's CMMS generate unique QR Code for each of the asset registered and provides detailed records for each asset, including serial numbers, locations, usage history, warranty details, and service intervals.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col"> 
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Asset Management/Asset Lifecycle Management.webp" alt="Asset Lifecycle">
              <div class="text">
                <h1>2.</h1>
                <h3>Asset Lifecycle Management</h3>
                <p>Evantage's CMMS tracks the entire lifecycle of each asset, from acquisition to decommissioning. This includes maintenance schedules, repair history, asset depreciation, and end-of-life management.</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Asset Management/Maintenance History and Reporting.webp" alt="Maintenance History">
              <div class="text">
                <h1>3.</h1>
                <h3>Maintenance History and Reporting</h3>
                <p>Evantage's CMMS stores a detailed history of each asset’s maintenance activities, providing insight into previous repairs, parts replacements, and issues. This data helps identify recurring problems and plan future maintenance actions.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Asset Management/Asset Valuation and Depreciation Tracking.webp" alt="Asset Valuation and Depreciation Tracking">
              <div class="text">
                <h1>4.</h1>
                <h3>Asset Valuation and Depreciation Tracking</h3>
                <p>Evantage's CMMS can calculate and track asset depreciation, providing insight into the remaining value of an asset. This information is valuable for budgeting and decision-making about whether to repair, replace, or upgrade equipment.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services-->

  <%- include('../partials/Footer'); %>
</body>

</html>