<%- include('../partials/Script'); %>

<body>
  
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
            <h3>Email Notification</h3>
            <h1>Never Miss an Update</h1>
            <p>Receive real-time updates on asset status, maintenance tasks, and compliance to streamline your maintenance workflow.</p>
            <a class="btnlearnmore" href="#benefit">Learn More</a>
       </div>
        <div class="bgimg">
            <img src="/views/assets/img/Banner/Email Notification.webp" alt="CMMS Email Notification">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/FeaturePage/Email Notification/CMMS Notification.webp" alt="CMMS Email Notification">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Stay Informed, Stay Efficient</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Timely Information</h4>
                        <p>Keep all relevant parties informed in real-time for quicker and more effective action.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Proactive management</h4>
                        <p>Address issues proactively before they escalate into bigger problems, ensuring smooth operations.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Improved decision-making</h4>
                        <p>Access to crucial maintenance data enables more informed and timely decision-making.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Compliance</h4>
                      <p>Ensure maintenance activities align with regulatory requirements, avoiding compliance risks.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->

  <!-- Services-->
  <section id="side2side">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>Email Notification<br>In Evantage CMMS</h1>
        <div class="button">
          <button id="slideLeft" type="button" class="previous round">&#8249;</button>
          <button id="slideRight" type="button" class="next round">&#8250;</button>
        </div>
      </div>

      <div class="row" id="rowside2side">
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Email Notification/Maintenance Alert and WO.webp" alt="CMMS Maintenance Alerts and Work Orders">
              <div class="text">
                <h1>1.</h1>
                <h3>Maintenance Alerts and Work Orders</h3>
                <p>Notifications are sent when a maintenance task is created, updated, or completed. This ensures that maintenance teams or asset managers are aware of scheduled tasks or urgent issues that need attention.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col"> 
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Email Notification/PM Reminder.webp" alt="CMMS Preventive Maintenance Reminders">
              <div class="text">
                <h1>2.</h1>
                <h3>Preventive Maintenance Reminders</h3>
                <p>CMMS can automatically remind users when preventive maintenance (PM) tasks are due. These notifications help prevent unexpected breakdowns by ensuring regular checks and maintenance.</p>
              </div>
            </div>
          </div>  
        </div>
        <!-- <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Email Notification/Work Order Approvals and Status Changes.png" alt="CMMS Work Order Approvals and Status Changes">
              <div class="text">
                <h1>3.</h1>
                <h3>Work Order Approvals and Status Changes</h3>
                <p>When work orders are submitted, updated, or closed, relevant stakeholders (managers, technicians) are notified so they can act on them promptly.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Email Notification/Custom Alerts Based on User Preferences.png" alt="Work Order Image">
              <div class="text">
                <h1>4.</h1>
                <h3>Custom Alerts Based on User Preferences</h3>
                <p>Some systems allow users to set custom notifications based on specific criteria such as asset type, location, or failure type. This customization helps ensure that relevant stakeholders receive only the most pertinent information.</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- End Services-->

  <%- include('../partials/Footer'); %>
</body>

</html>