<%- include('../partials/Script'); %>

<body>
  
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
            <h3>Photo Evidence</h3>
            <h1>Streamline Maintenance with Visual Proof</h1>
            <p>Capture, attach, and reference photos directly in Evantage CMMS to ensure precise maintenance records and efficient decision-making.</p>
            <a class="btnlearnmore" href="#benefit">Learn More</a>
          </div>
        <div class="bgimg">
            <img src="/views/assets/img/Banner/Photo Evidence.webp" alt="CMMS PhotoEvidence">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/FeaturePage/Photo Evidence/Quality Assurance.webp" alt="CMMS PhotoEvidence">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Enhance Accuracy with Visual Documentation</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Accuracy and Clarity</h4>
                        <p>Photos provide clear, objective evidence of the asset's condition, work done, or issues found, reducing ambiguity.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Improved Communication</h4>
                        <p>Photos help improve communication between team members, technicians, and managers by offering visual context.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Accountability</h4>
                        <p>Helps track the progress of work and holds personnel accountable for tasks.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Easier Troubleshooting</h4>
                      <p>Technicians can review photos to understand issues or confirm work completed, reducing time spent troubleshooting.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->

  <!-- Services-->
  <section id="side2side">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>Photo Evidence<br>In Evantage CMMS</h1>
        <div class="button">
          <button id="slideLeft" type="button" class="previous round">&#8249;</button>
          <button id="slideRight" type="button" class="next round">&#8250;</button>
        </div>
      </div>

      <div class="row" id="rowside2side">
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Photo Evidence/Work Order Documentation.png" alt="CMMS Work Order Documentation">
              <div class="text">
                <h1>1.</h1>
                <h3>Work Order Documentation</h3>
                <p>Photos can be attached to work orders to document the condition of equipment before or after maintenance tasks are performed.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col"> 
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Photo Evidence/Preventive Maintenance Verification.png" alt="CMMS Preventive Maintenance Verification">
              <div class="text">
                <h1>2.</h1>
                <h3>Preventive Maintenance Verification</h3>
                <p>Photos taken during preventive maintenance tasks help verify that tasks were completed, and assets are in good working order.</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Photo Evidence/Inspection Reports.webp" alt="CMMS Inspection Reports">
              <div class="text">
                <h1>3.</h1>
                <h3>Inspection Reports</h3>
                <p>During inspections, photographs can serve as proof that certain checks were performed, especially for regulatory compliance and safety inspections.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Photo Evidence/Quality Assurance.webp" alt="Quality Assurance">
              <div class="text">
                <h1>4.</h1>
                <h3>Quality Assurance</h3>
                <p>Photos can be taken during different stages of the maintenance process to ensure the work is completed as required. This ensures higher standards of quality control.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services-->

  <%- include('../partials/Footer'); %>
</body>

</html>