<%- include('../partials/Script'); %>
<body>

  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
            <h3>Work Management</h3>
            <h1>Never Miss Work Order Again</h1>
            <p>Create, assess, prioritize, and measure all of your maintenance work orders in one place with Evantage’s easy-to-use work order management software. </p>
            <a class="btnlearnmore" href="#benefit">Learn More</a>
        </div>
        <div class="bgimg">
            <img src="/views/assets/img/Banner/Work Management.webp" alt="Evantage Work Management">
        </div>
    </div>
    
  </section>
  <!-- ======= End Section Solution ======= -->

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/FeaturePage/Work Management/Work Management.webp" alt="Work Management">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Easily Track, Edit & Close Your Work Order</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Work Order Filtering</h4>
                        <p>Work order software in which you can filter by technician, location, due date, status, and priority level.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Notification</h4>
                        <p>Automatically create work orders and send mobile push notifications to technicians when assigned.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Attach File</h4>
                        <p>Easily attach PDFs manuals or photos of equipment and instructions to a work order to increase accuracy.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Reporting</h4>
                      <p>Provide a transparent record of inspections and procedures completed by technicians for future team.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->
  

  <!-- Services-->
  <section id="side2side">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>Work Orders <br>In Evantage CMMS</h1>
        <div class="button">
          <button id="slideLeft" type="button" class="previous round">&#8249;</button>
          <button id="slideRight" type="button" class="next round">&#8250;</button>
        </div>
      </div>

      <div class="row" id="rowside2side">
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Work Management/Work Request Creation.webp" alt="Work Request Creation">
              <div class="text">
                <h1>1.</h1>
                <h3>Work Request Creation</h3>
                <p>A work request is initiated, detailing the issue with the asset and its impact on production. The request includes essential information such as the asset number, location, priority level, work group, fault code, and a detailed job description, along with any relevant images attached.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Work Management/Work Order Generation.webp" alt="Work Order Generation Image">
              <div class="text">
                <h1>2.</h1>
                <h3>Work Order Generation</h3>
                <p>Upon receiving the work request, the maintenance team will review and decide whether to approve, reject, or modify the work group. A technician will be assigned to the job, and the work order status will be updated accordingly (e.g., Work in Progress, Pending Material, Pending Contractor, Pending Stoppage).</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Work Management/Time Tracking.webp" alt="Time Tracking">
              <div class="text">
                <h1>3.</h1>
                <h3>Time Tracking</h3>
                <p>Evantage CMMS provides a timecard feature to track the duration of tasks. Technicians can log the time taken for each job directly through the mobile app, helping to measure task efficiency.</p>
              </div>
            </div>
          </div> 
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Work Management/Material Request.webp" alt="Material Request">
              <div class="text">
                <h1>4.</h1>
                <h3>Material Request</h3>
                <p>Technicians can request materials or spare parts directly via the mobile app. This feature ensures transparency in material costs and ensures the right parts are available for the job.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Work Management/Completion & Reporting.webp" alt="Work Order Completion">
              <div class="text">
                <h1>5.</h1>
                <h3>Completion & Reporting</h3>
                <p>Once the repair is completed, the work order is marked as "Completed". Evantage CMMS generates performance data, such as repair time, allowing managers to evaluate team efficiency and assess the effectiveness of the maintenance strategy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services-->




  <%- include('../partials/Footer'); %>
</body>

</html>