<%- include('../partials/Script'); %>


<body>
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
          <h3>Data Analytics</h3>
          <h1>Unlock Insights for Smarter Decisions</h1>
          <p>Leverage real-time data to analyze performance, identify trends, and drive informed decision-making with Evantage's CMMS analytics.</p>
          <a class="btnlearnmore" href="#benefit">Learn More</a>
        </div>
        <div class="bgimg">
            <img src="/views/assets/img/Banner/Data Analytic.webp" alt="Evantage Data Analytic">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/FeaturePage/Data Analytic/Data to Insights.webp" alt="Evantage Data Analytic">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Transform Data into Actionable Insights</h1>

                <div class="row" class="service-list">
                    <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                    </div>
                    <div class="col">
                        <h4>Performance Monitoring</h4>
                        <p>Track real-time performance data to assess asset health and optimize maintenance schedules.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Trend Analysis</h4>
                        <p>Analyze historical data to identify patterns and predict future maintenance needs.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                    <div class="col">
                        <h4>Custom Reports</h4>
                        <p>Generate tailored reports to evaluate maintenance performance and improve decision-making.</p>
                    </div>
                </div>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                    <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Real-Time Dashboards</h4>
                      <p>View up-to-date analytics on asset status and maintenance trends for better planning.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->
  

  <!-- Services-->
  <section id="side2side">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>Data Analytic <br>In Evantage CMMS</h1>
        <div class="button">
          <button id="slideLeft" type="button" class="previous round">&#8249;</button>
          <button id="slideRight" type="button" class="next round">&#8250;</button>
        </div>
      </div>

      <div class="row" id="rowside2side">
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Data Analytic/Maintenance Performance.webp" alt="Maintenance Performance">
              <div class="text">
                <h1>1.</h1>
                <h3>Maintenance Performance</h3>
                <p>Evantage CMMS provides insights into Work Orders received vs completed, segmented by work group, helping you track efficiency.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Data Analytic/Employee Performance.webp" alt="Employee Performance">
              <div class="text">
                <h1>2.</h1>
                <h3>Employee Performance</h3>
                <p>Track work orders assigned to employees, including total work orders handled and actual time spent, based on time card data.</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Data Analytic/Total Maintenance Cost.webp" alt="Total Maintenance Cost">
              <div class="text">
                <h1>3.</h1>
                <h3>Total Maintenance Cost</h3>
                <p>Evantage integrates with ERP systems, allowing users to store spare part and contract costs, and generate analytics on total maintenance expenses.</p>
              </div>
            </div>
          </div> 
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Data Analytic/KPI Reporting.webp" alt="KPI Reporting">
              <div class="text">
                <h1>4.</h1>
                <h3>KPI Reporting</h3>
                <p>Generate key performance indicators (KPIs) such as Open vs. Closed Work Orders, Maintenance Efficiency, and Budget vs. Actual Costs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services-->

  <%- include('../partials/Footer'); %>
</body>

</html>