<%- include('../partials/Script'); %>


<body>
  
  <%- include('../partials/NavBar'); %>

  <!-- ======= Solution Section ======= -->
  <section id="solution">
    <div class="container hero-content">
        <div class="hero-text">
          <h3>Preventive Maintenance</h3>
          <h1>Stay Ahead of Equipment Failures</h1>
          <p>Schedule, track, and optimize all your preventive maintenance tasks in one place with Evantage’s intuitive preventive maintenance software.</p>
          <a class="btnlearnmore" href="#benefit">Learn More</a>
        </div>
        <div class="bgimg">
            <img src="/views/assets/img/Banner/Preventive Maintenance.webp" alt="Evantage Preventive Maintenance">
        </div>
    </div>
  </section>
  <!-- ======= End Section Solution ======= -->

  <!-- ======= Benefit Section ======= -->
  <section id="benefit">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left" data-aos="fade-right">
                <img src="/views/assets/img/FeaturePage/Preventive Maintenance/PM Schedule.webp" alt="Preventive Maintenance Schedule">
            </div>
            <div class="col-md-6 right" data-aos="fade-left" >
                <h1 class="benefit-title">Schedule & Track Preventive Maintenance</h1>
                <div class="row" class="service-list">
                  <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Reduced Downtime</h4>
                      <p>Preventive maintenance identifies and fixes issues before breakdowns, minimizing downtime and boosting productivity.</p>
                  </div>
              </div>
              <div class="row" class="service-list">
                  <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Extended Asset Lifespan</h4>
                      <p>Regular maintenance keeps assets in optimal condition, extending their lifespan and reducing expensive repairs.</p>
                  </div>
              </div>
              <div class="row" class="service-list">
                  <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Data-Driven Insights</h4>
                      <p>Track historical data to identify trends and improve future maintenance strategies and investments.</p>
                  </div>
              </div>
              <div class="row" class="service-list">
                  <div class="col-2 icon">
                      <i class="material-symbols-outlined">task_alt</i>
                  </div>
                  <div class="col">
                      <h4>Enhanced Budget Management</h4>
                      <p>Preventive maintenance helps control costs by reducing emergency repairs and overall maintenance expenses.</p>
                  </div>
              </div>
        </div>
    </div>
  </section>
  <!-- End benefit Section -->

  <!-- Services-->
  <section id="side2side">
    <div class="container" data-aos="fade-down">
      <div class="feature-title">
        <h1>Preventive Maintenance<br>In Evantage CMMS</h1>
        <div class="button">
          <button id="slideLeft" type="button" class="previous round">&#8249;</button>
          <button id="slideRight" type="button" class="next round">&#8250;</button>
        </div>
      </div>

      <div class="row" id="rowside2side">
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Preventive Maintenance/PM Frequency.webp" alt="Preventive Maintenance Frequency">
              <div class="text">
                <h1>1.</h1>
                <h3>Preventive Maintenance Scheduling</h3>
                <p>Evantage's CMMS remind you to generate Preventive Work Order based on time intervals (e.g., daily, monthly) or usage metrics (e.g., hours of operation), ensuring that equipment is serviced regularly.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col"> 
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Preventive Maintenance/PM Work Order.webp" alt="Preventive Maintenance Work Order">
              <div class="text">
                <h1>2.</h1>
                <h3>Preventive Work Order</h3>
                <p>Evantage's CMMS work orders generated for each scheduled task and assigns them to technicians. These work orders can include checklists, detailed instructions, and required parts, ensuring that maintenance is performed correctly.</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Preventive Maintenance/Digital Checklist.webp" alt="Digital Checklist">
              <div class="text">
                <h1>3.</h1>
                <h3>Task Checklists</h3>
                <p>Predefined or customizable checklists ensure that technicians complete all necessary steps during maintenance, ensuring consistency and thoroughness in maintenance activities.</p>
              </div>
            </div>
           </div>
        </div>
        <div class="col">
          <div class="border">
            <div class="content">
              <img src="/views/assets/img/FeaturePage/Preventive Maintenance/Technician App.webp" alt="CMMS Technician Mobile App">
              <div class="text">
                <h1>4.</h1>
                <h3>Mobile Access for Technicians</h3>
                <p>Technicians can access and update maintenance tasks via mobile devices, enabling real-time communication and improving the efficiency of completing and documenting work orders.</p>
              </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services-->

  <%- include('../partials/Footer'); %>
</body>

</html>